.category-container {
    //padding-top: 20px;

    .thumbnail{
      cursor: -webkit-grabbing;
      cursor: grabbing;

      &:hover {
                    box-shadow: 0 0 11px rgba(33,33,33,.2);
                }
    }
}
