<div class="detail-container">
 <div class="container-fluid">
  <div class="row dashboard-view">

    <div class="col-md-6 col-xs-6">
      <span class="title text-left shop" (click)="dashboard()">Shop
        <i class="fa fa-shopping-basket shop-icon"></i></span>
    </div>
      <div class="col-md-6 col-xs-6 text-right">
        <span class="title cart" (click)="goToCart()">
          <i class="fa fa-shopping-bag cart-icon"></i>cart</span>
      </div>

   </div>
  </div>
<div class="container desc-container" id="product-section">
  <div class="row">
    <div class="col-md-6 text-center">

      <img class="image" src="/assets/img/{{prod.img}}"/>

      <div class="row">

        <div class="col-md-6">
          <button *ngIf="!goCart" class="btn btn-warning add-btn" (click)="addItemToCart(prod)">
            Add to Cart</button>
          <button *ngIf="goCart" class="btn btn-warning add-btn" (click)="goToCart()">
            Go to Cart</button>
        </div>
          <div class="col-md-6">
            <button class="col-md-6 btn btn-warning add-btn">
              Buy Now</button>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <br>

      <br>
      <h1>Redmi 5A (Grey, 32 GB)  (3 GB RAM)</h1><br>
      <h4>2,905 Ratings & 540 Reviews</h4><br>
      <h3>MRP:500 R.S</h3><br>
      <h2>Description :-</h2><br>
      <ul>
        <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
        <li>Available on GSM, AT T, T-Mobile and other carriers</li>
        <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
        <li>MicroUSB and USB connectivity</li>
        <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
        <li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
        <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
        <li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
        <li>Features 16 GB memory and 2 GB RAM</li>
        <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
        <li>17 hours of talk time, 350 hours standby time on one charge</li>
        <li>Available in white or black</li>
        <li>Model I337</li>
        <li>Package includes phone, charger, battery and user manual</li>
        <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
      </ul>
    </div>
    </div>
  </div><!-- end row -->
</div>
<!-- end contaistyner -->

