<div class="card-container">
<div class="card">
    <img class="profile-img-card" src="/assets/img/login.png"/>
    <p  class="profile-name-card">Login</p>
    <form class="form-signin" [formGroup]="loginForm">

      <div class="text-center form-group">

        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="email"
                 [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="text-center form-group">
        <br>
        <mat-form-field>

          <input matInput class="input-width" placeholder="Enter your password"
                 formControlName="password" [type]="hide ? 'password' : 'text'">

        </mat-form-field>

      </div>

      <button class="btn btn-lg btn-primary btn-block btn-signin login-controls"
              type="submit" (click)="onSubmit()">Sign in</button>
    </form><!-- /form -->

  </div><!-- /card -->
  </div><!-- /card-container -->


