<div class="cart-container">
<div class="container-fluid main-container">
  <div class="row dashboard-view">

    <div class="col-md-6 col-xs-6">
      <span class="title text-left shop" (click)="dashboard()">Shop
        <i class="fa fa-shopping-basket shop-icon"></i></span>
    </div>
    <div class="col-md-6 col-xs-6 text-right">
        <span class="title cart" (click)="goToCart()">
          <i class="fa fa-shopping-bag cart-icon"></i>cart</span>
    </div>

  </div>

  <div class="container desc-container" id="product-section">
    <div class="row">

      <button  class="btn btn-warning back" (click)="dashboard()">
        Back</button>
      <h3 class="page-title">My Cart(<span class="count">{{cartItems.length}}</span>)</h3>
    </div>
    <div class="row col-md-12" *ngFor="let item of cartItems">
      <hr> <div class="col-md-5 text-center">

        <img class="image" src="/assets/img/{{item.img}}" alt="pic"/>

      </div>
      <div class="col-md-7">

        <h3>Redmi 5A (Grey, 32 GB)  (3 GB RAM)</h3><br>
        <h5>2,905 Ratings & 540 Reviews</h5><br>
        <h5>MRP:500-/</h5><br>

      </div>

    </div>

  </div><!-- end row -->
  <br><br>

</div><!-- end contaistyner -->
</div>

