<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Product Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body style="background:#f1f3f6;">
<div class="container-fluid">
  <div class="row">
    <div style="background:Blue;" class="text-left col-md-12">
      <br><span class="col-md-6" style="font-size:20px;color:white;font-weight:bold;">Dashboard </span>
      <span class="col-md-6" style="font-size:20px;color:white;font-weight:bold;padding-right: 100px;text-align:right;">Cart</span>
      <br><br>
    </div>
  </div>
  <div class="container" id="product-section" style="background:white;margin-top:20px;">
    <div class="row">
      <h3>My Cart(3)</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <br>
        <br>
        <br>
        <br>
        <img style="width:40%;" src="/assets/img/ph-1.jpg" alt="pic"/>
        <br>
        <br>

      </div>
      <div class="col-md-6">
        <br>
        <br><i class="fa fa-shopping-bag" style="font-size:48px;color:red"></i>
        <br>
        <h1>Redmi 5A (Grey, 32 GB)  (3 GB RAM)</h1><br>
        <h4>2,905 Ratings & 540 Reviews</h4><br>
        <h3>MRP:500-/</h3><br>

      </div>
    </div>
    <div class="row">
    <div class="col-md-6 text-center">
      <br>
      <br>
      <br>
      <br>
      <img style="width:40%;" src="/assets/img/el-1.jpg" alt="pic"/>
      <br>
      <br>

    </div>
    <div class="col-md-6">
      <br>
      <br><i class="fa fa-shopping-bag" style="font-size:48px;color:red"></i>
      <br>
      <h1>Redmi 5A (Grey, 32 GB)  (3 GB RAM)</h1><br>
      <h4>2,905 Ratings & 540 Reviews</h4><br>
      <h3>MRP:500-/</h3><br>

    </div>
  </div>
  <div class="row">
  <div class="col-md-6 text-center">
    <br>
    <br>
    <br>
    <br>
    <img style="width:40%;" src="/assets/img/el-8.jpeg" alt="pic"/>
    <br>
    <br>

  </div>
  <div class="col-md-6">
    <br>
    <br><i class="fa fa-shopping-bag" style="font-size:48px;color:red"></i>
    <br>
    <h1>Redmi 5A (Grey, 32 GB)  (3 GB RAM)</h1><br>
    <h4>2,905 Ratings & 540 Reviews</h4><br>
    <h3>MRP:500-/</h3><br>

  </div>
</div>
  </div><!-- end row -->
</div><!-- end contaistyner -->
</body>
</html>
