<div class="row collection-container">
  <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
    <div class="text-center desc-view">
      <br>
      <span class="title" (click)="sendMessage()">View all<br><br></span>
    </div>
  </div>
  <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
    <ngx-carousel
      [inputs]="carouselTile"
      (carouselLoad)="carouselTileLoad($event)" class="carosel-container">

      <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
        <div class="block">

          <div class="middle">
            <img src="/assets/img/{{Tile.img}}" alt="pic" />
          </div>

          <div class="bottom">
            <div class="heading">Available in all classic Colours</div>
            <div>$50.00 <span class="old-price">$75.00</span></div>
          </div>

        </div>
      </ngx-tile>

      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>

  </div>
</div>

<div class="row collection-container">
  <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
    <div class="text-center desc-view">
      <br>
      <span class="title" (click)="sendMessage()">View all<br><br></span>
    </div>
  </div>
  <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
    <ngx-carousel
      [inputs]="carouselTile"
      (carouselLoad)="carouselTileLoad($event)" class="carosel-container">

      <ngx-tile NgxCarouselItem *ngFor="let Tile of phoneTileItems">
        <div class="block">

          <div class="middle">
            <img src="/assets/img/{{Tile.img}}" alt="pic" />
          </div>

          <div class="bottom">
            <div class="heading">Available in all classic Colours</div>
            <div>$50.00 <span class="old-price">$75.00</span></div>
          </div>

        </div>
      </ngx-tile>

      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>

  </div>
</div>
