<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="text-left dashboard-view">
      <br><span class="title">Dashboard<br><br></span>
    </div>
  </div>

   <div class="row">
  <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
    <div class="text-center store-view">
      <br><span class="title">Store<br><br></span>
    </div>
  </div>
  <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9 collection-view">
    <app-collections *ngIf="!showCategory" (messageEvent)="showCategories($event)"></app-collections>
    <app-categories *ngIf="showCategory"></app-categories>
  </div>
  </div>

</div>

