.dashboard-container {
 height: 100vh;
 // width: 98vw;
	.bg-row {
		background: #fffbfb;
		    margin-top: 25px;
        margin-left: 10px;
	}
	.dashboard-view {
		background: #2874f0;
		.title {
			font-size: 20px;
			color: white;
			font-weight: bold;
			padding-left: 50px;
			cursor: pointer;
			line-height: 50px;
		}
	}
	.store-view {
		background: orange;
		margin-top: 250px;
		.title {
			font-size: 20px;
			color: white;
			font-weight: bold;
		}
	}
	.collection-view {
		background: #f1f1f1;
	}
}
