.dashboard-container {
	.bg-row {
		background: #fffbfb;
	}
	.dashboard-view {
		background: Blue;
		.title {
			font-size: 20px;
			color: white;
			font-weight: bold;
			padding-left: 50px;
			cursor: pointer;
		}
	}
	.store-view {
		background: orange;
		margin-top: 250px;
		.title {
			font-size: 20px;
			color: white;
			font-weight: bold;
		}
	}
	.collection-view {
		background: #f3eeee;
	}
}
